.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.section-header {
  position: relative;
}
.section-header::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 40px;
  background-color: rgb(130, 15, 192);
  bottom: -10px;
  left: 0;
  border-radius: 0 20px 20px 0;
}

.subscribe-container {
  background-image: linear-gradient(rgba(55, 66, 66, 0.5), rgba(0, 0, 0, 0.322)),
    url(".//image/robert-bye-tG36rvCeqng-unsplash\ \(1\).jpg");
  background-size: cover;
  object-fit: cover;
}
.name-info {
  position: relative;
}
.name-info:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: rgb(130, 15, 192);
  left: 0;
  bottom: 0;
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
